.header__logo {
  color: white;
  text-decoration: none;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 33px;
  min-width: 300px;
  grid-column-start: 1;
  grid-row-start: 2;
  padding: 45px 0 0px;
}

@media screen and (max-width: 531px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin-left: 30px;
    padding: 27px 0 0px;
    grid-row-start: 3;
  }
}
