.footer {
  margin: 0 auto;
  padding: 0 19px;
  max-width: 880px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 425px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
  }
}
