.fullview__button-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 778px) {
  .fullview__button-close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
