@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);

@import url(./blocks/button/button.css);
@import url(./blocks/button/_hidden/button_hidden.css);
@import url(./blocks/button/_type/button_type_edit.css);
@import url(./blocks/button/_type/button_type_close.css);
@import url(./blocks/button/_type/button_type_submit.css);
@import url(./blocks/button/_type/button_type_submit-disabled.css);
@import url(./blocks/button/_type/button_type_add.css);
@import url(./blocks/button/_type/button_type_like.css);
@import url(./blocks/button/_type/button_type_liked.css);
@import url(./blocks/button/_type/button_type_delete.css);
@import url(./blocks/button/_type/button_type_more.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__container/_mobile/header__container_mobile.css);
@import url(./blocks/header/__line/header__line.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__button-more/header__button-more.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__avatar-overlay/_visible/profile__avatar-overlay_visible.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);

@import url(./blocks/gallery/gallery.css);
@import url(./blocks/gallery/__card/gallery__card.css);
@import url(./blocks/gallery/__image/gallery__image.css);
@import url(./blocks/gallery/__box/gallery__box.css);
@import url(./blocks/gallery/__title/gallery__title.css);
@import url(./blocks/gallery/__like/gallery__like.css);
@import url(./blocks/gallery/__button-like/gallery__button-like.css);
@import url(./blocks/gallery/__button-delete/gallery__button-delete.css);

@import url(./blocks/footer/footer.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/_type/popup_type_window.css);
@import url(./blocks/popup/_type/popup_type_fullview.css);
@import url(./blocks/popup/__window/popup__window.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_error/popup__input_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__button-submit/popup__button-submit.css);
@import url(./blocks/popup/__fullview/popup__fullview.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__icon/popup__icon.css);
@import url(./blocks/popup/__icon/_type/popup__icon_type_success.css);
@import url(./blocks/popup/__icon/_type/popup__icon_type_fail.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__container/form__container.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_error/form__input_error.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__error/_visible/form__error_visible.css);
@import url(./blocks/form/__button-submit/form__button-submit.css);
@import url(./blocks/form/__link/form__link.css);

