.header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  margin: 0 auto;
  padding: 0 19px;
  max-width: 880px;
}

@media screen and (max-width: 531px) {
  .header {
    grid-template-rows: repeat(4, auto);
    padding: 0;
  }
}
